.widgets, .contact {
    background-color: #235db7;
    width: 600px;
    height: 200px;
}

.size_widgets {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 10px 0 10px 0;

}

.blok_widgets{
    background-color: #101ca1;
    display: flex;
    flex-basis: 31%;
    height: 200px;
}

.contact {
    height: 600px;
}
.container {
    width: 1000px;
    padding: 5px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}